doctype html
html(lang='en')
    head
        title #{pageTitle} | Etube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        block content
    include partials/footer.pug 
