doctype html
html(lang='en')
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            nav
                    ul      
                        li
                            a(href="/video/upload") Upload
                        li
                            a(href="/") Home
                        li
                            a(href="/search") Search
                        if !loggedIn
                            li
                                a(href="/join") Join  
                            li
                                a(href="/login") Login
                        else
                            li
                                a(href="/logout") Logout
                        


            h1=pageTitle
        main
            block content
    include partials/footer.pug 
