extends base.pug

block content
    if errorMessage
        h4 #{errorMessage}
    form(method ="POST")
        div
            span Username
            input(name="username", type="text", required)
        div
            span Password
            input(name="password", type="password", required)
        input(type="submit", value="login")
        include partials/social-login
    div.auth-switch
        span Don't have an account?     
        a(href="/join") Create Account
        