extends base.pug


block content
    h3 Upload New Video
    if errorMessage
        span=errorMessage

    form(method="POST", enctype="multipart/form-data")
        div
            label(for="video") Video File(Max 10MB)
            input(name="video", id="Video", accept="video/*", type="file",  required)
        div
            label(for="title") Title
            input(name="title", id="title", placeholder="max 40 characters", type="text", maxlength=40, required)
        div 
            label(for="description") Description
            input(name="description", id="description", placeholder="min 10 characters", type="text", minlength=10, required)
        div 
            label(for="hashtags") Hashtags
            input(name="hashtags",id="hashtags", placeholder="Separated by commma", type="text", required)
        input(value="Upload", type="submit")


    
